@media (max-width: 600px) {
	.movies-grid {
		gap: 24px;
		flex-direction: column;
		align-items: center;
	}

	.movie-card {
		margin: 0 20px;
	}

	.movie-poster img,
	.no-poster {
		height: 220px;
	}
}

@media (min-width: 768px) {
	.robot-image {
		width: 80px;
		height: 80px;
	}

	.brand-title {
		font-size: 64px;
	}

	.brand-subtitle {
		font-size: 19px;
	}

	.search-card {
		padding: 48px;
	}
}

@media (max-width: 900px) {
	.movies-grid {
		gap: 19px;
	}

	.movie-poster img,
	.no-poster {
		height: 320px;
	}
}
